@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:wght@600&display=swap');

/* 
font-family: 'Archivo Black', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

html, body {
    margin: 0px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    letter-spacing: 1.5px; 
    /* overflow: visible; */
    /* overflow-y: scroll; */
}

* {
    box-sizing: border-box;
  }
*:focus {
    outline: none;
}
button:focus {outline:0;}
a{
  text-decoration: none;
}

/* --------------- navbar -------------- */

.navv{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Raleway', sans-serif; 
    background: #1C658C;
    height: 80px;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  }
  label.logo{
    color: white;
    
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
  }
  .logo a{
    color: white;
    font-size: 22px;
  }
  .logo a:hover{
    color: #d8d2cb;
    transition: .5s;
  }
  .navv ul{
    float: right;
    margin-right: 40px;
  }
  .navv ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  .navv ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
  }
  .navv ul li a:hover{
    color: #d8d2cb;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    .navv ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 768px){
    .checkbtn{
      display: block;
    }
    ul{
        z-index: 10;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #191919;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .navv ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .navv ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #d8d2cb;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

/* ------------------------- sec1 --------------------------- */

.sec1{
    background-color:whitesmoke ;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1-top{
  position: absolute;
  top: 0;
  background-color: #d8d2cb;
  width: 100%;
  min-height: 80vh;
}
.sec1-top img{
  height: 80vh;
  object-fit: cover;
  background-position: 50% 50%;
}
.sec1-bottom{
  position: absolute;
  top: 20%;
  background-color: whitesmoke;
  width: 1200px;
  min-height: 75vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  border-radius: 12px;
  display: flex;
}

.sec1-left{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-left: 2%;
}
.sec1-left h1{
  font-family: 'Archivo Black', sans-serif;
  color: #1C658C;
  font-size: 58px;
  letter-spacing: 1px;
}
.sec1-left h2{
  font-family: 'Raleway', sans-serif;
  color: #398ab9;
  font-size: 25px;
  width: 80%;
  text-align: justify;
  letter-spacing: 1px;
}
.sec1-left p{
  font-family: 'Raleway', sans-serif;
  color: #398ab9;
  font-size: 16px;
  width: 80%;
  text-align: justify;
  letter-spacing: 1px;
}
.sec1-right{
  flex-basis: 50%;
  position: relative;
}
.sec1-right img{
  border: 4px solid whitesmoke;
}
.sec1-1 img{
  position: absolute;
  width: 40%;
  height: 30%;
  left: 0;
  bottom: 50%;
}
.sec1-2 img{
  position: absolute;
  width: 60%;
  height: 50%;
  bottom: 50%;
  right: 0;
}
.sec1-3 img{
  position: absolute;
  width: 100%;
  height: 50%;
  right: 0;
  bottom: 0;
  object-fit: cover;
  background-position: 50% 50%;
}



/* ------------------------- sec2 --------------------------- */
.dom-sec1{
  margin-bottom: 20px;
  height: 80vh;
  position: relative;
}

.dom-sec1-box-1{
  height: 70vh;
  width: 100%;
  background:linear-gradient(0deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),url(../public/images/2.about-us/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 50%;
}
.dom-sec1-box-head{
  position: absolute;
  width: 100%;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#1C658C;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 75px;
}
.dom-sec1-box-main{
  position: absolute;
  height: 300px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0%;
  left: 0;
  right: 0;
}
.dom-sec1-box2{
  z-index: 1;
  position: absolute;
  height: 200px;
  width: 240px;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  color:#398ab9;
  left: -5%;
  top: -8%;
  letter-spacing: 2px;
}
.dom-sec1-box2-inner1{
  height: 45px;
  width: 240px;
  border-right: 4px solid  #398ab9 ;
  border-top: 4px solid  #398ab9 ;
  border-left: 4px solid  #398ab9 ;
}
.dom-sec1-box2-inner2{
  height: 110px;
  width: 240px;
  border-left: 4px solid  #398ab9 ;
}
.dom-sec1-box2-inner2i{
  transform: translate(20%,10%);
}
.dom-sec1-box2-inner3{
  height: 45px;
  width: 240px;
  border-right: 4px solid  #398ab9 ;
  border-bottom: 4px solid  #398ab9 ;
  border-left: 4px solid  #398ab9 ;
}
.dom-sec1-box3{
  position: absolute;
  height: 250px;
  width: 350px;
  background: url(../public/images/2.about-us/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 40%;
  bottom: 0;
  left: 30%;
}

.dom-sec1-box4{
  position: absolute;
  min-height: 50px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 40%;
  bottom: 50%;
  right: -15%;
}
.dom-sec1-box4-top{
  height: 50%;
  width: inherit;
  background: #d8d2cb;
  font-family: 'Raleway', sans-serif; 
  font-size: 20px;
  color: #1C658C;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dom-sec1-box4-bottom{
  height: 50%;
  width: inherit;
  background-color: #398ab9;
  padding: 3px 5px;
}
.dom-sec1-box4-bottom h3{
  color: #eeeeee;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  transition: .2s ease-in-out;
}

.dom-sec2{
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dom-sec2-head{
  width: 100%;
}
.dom-sec2-head-inner{
  width: 100%;
  font-size: 25px;
  font-family: 'Archivo Black', sans-serif; 
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #1C658C;
}

.dom-sec2-para{
  width: 100%;
}
.dom-sec2-para-inner{
  width: 45%;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #398ab9;
}
.dom-sec2 button{
  border: none;
  font-family: 'Raleway', sans-serif;
  background-color: #1C658C;
  margin-top: 1%;
  width: 200px;
  height: 60px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: .2s ease-in-out;
}
.dom-sec2 button a{
  background-color: #1C658C;
  color: white;
  letter-spacing: 1.5px;
  font-size: 16px;
  transition: .2s ease-in-out;
}
.dom-sec2 button:hover a{
  color: #eeeeee;
}

/* ------------------------- sec3 --------------------------- */
.dom-sec6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 3% auto;
  background-color: white;
}
.dom-sec6 h1{
  margin-bottom: 3%;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  color: #1C658C;
  font-size: 58px;
  letter-spacing: 1px;
}
.dom-sec6-box1{
  display: flex;
  width: 1200px;
  height: 300px;
}
.dom-sec6-box1-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: #1c658c;
}
.dom-sec6-box1-left-inner{
  width: 80%;
}
.dom-sec6-box1-left-h{
  color: #e5e7e9;
  font-family: 'Raleway', cursive;
  font-size: 25px;
  padding-bottom: 8px;
  letter-spacing: 2px;
}
.dom-sec6-box1-left-p{
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 5px 0;
  line-height: 18px;
  letter-spacing: 2px;
}
.dom-sec6-box1-right{
  background: url(../public/images/3.services/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 800px;
  height: 300px;
}
.dom-sec6-box2{
  display: flex;
  width: 1200px;
  height: 300px;
}
.dom-sec6-box2-left{
  background: url(../public/images/3.services/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 800px;
  height: 300px;
}
.dom-sec6-box2-right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: #2874A6;
}
.dom-sec6-box2-right-inner{
  width: 80%;
}
.dom-sec6-box2-right-h{
  color: #e5e7e9;
  font-family: 'Raleway', cursive;
  font-size: 25px;
  padding-bottom: 8px;
  letter-spacing: 2px;
}
.dom-sec6-box2-right-p{
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 5px 0;
  line-height: 18px;
  letter-spacing: 2px;
}

.dom-sec6-box3{
  display: flex;
  width: 1200px;
  height: 300px;
}
.dom-sec6-box3-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: #1c658c;
}
.dom-sec6-box3-left-inner{
  width: 80%;
}
.dom-sec6-box3-left-h{
  color: #e5e7e9;
  font-family: 'Raleway', cursive;
  font-size: 25px;
  padding-bottom: 8px;
  letter-spacing: 2px;
}
.dom-sec6-box3-left-p{
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 5px 0;
  line-height: 18px;
  letter-spacing: 2px;
}

.dom-sec6 button{
  border: none;
  font-family: 'Raleway', sans-serif;
  background-color: #1C658C;
  margin-top: 3%;
  width: 200px;
  height: 60px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: .2s ease-in-out;
}
.dom-sec6 button a{
  background-color: #1C658C;
  color: white;
  letter-spacing: 1.5px;
  font-size: 16px;
  transition: .2s ease-in-out;
}
.dom-sec6 button:hover a{
  color: #eeeeee;
}

/* ---------------------------- sec4 ----------------------------- */

.sec4{
  width: 1400px;
  margin: 4% auto 2% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec4-l{
  flex-basis: 40%;
}
.sec4-l h1{
  font-family: 'Archivo Black', sans-serif;
  color: #1C658C;
  font-size: 60px;
}
.sec4-l p{
  font-family: 'Raleway', sans-serif;
  color: #1C658C;
  font-size: 16px;
  text-align: justify;
  padding-right: 5%;
}
.sec4-r{
  flex-basis: 60%;
}
.sec4-box{
  background-color: #eeeeee;
  display: flex;
  margin-bottom: 3%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sec4-box-l{
  flex-basis: 50%;
}
.sec4-box-l img{
  width: 200px;
  padding: 1%;
}
.sec4-box-r{
  flex-basis: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.sec4-box-r h1{
  font-family: 'Archivo Black', sans-serif;
  color: #1C658C;
  font-size: 40px;
}
.sec4-address{
  width: 100%;
  margin-top: 2%;
  display: flex;
}
.sec4-address i.fas{
  font-size: 25px;
  padding-right:2%;
  color: #1C658C;
}
.sec4-address h2{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #1C658C;
  font-size: 18px;
  text-align: justify;
  padding-right: 5%;
}
.sec4-box-r i{
  display: block;
  font-size: 40px;
}
.sec4-button{
  text-align: center;
}
.sec4-button button{
  border: none;
  font-family: 'Raleway', sans-serif;
  background-color: #1C658C;
  margin-top: 1%;
  margin-bottom: 3%;
  width: 200px;
  height: 60px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: .2s ease-in-out;
}
.sec4-button button a{
  background-color: #1C658C;
  color: white;
  letter-spacing: 1.5px;
  font-size: 16px;
  transition: .2s ease-in-out;
}
.sec4-button button:hover a{
  color: #eeeeee;
}

/* ------------------------- sec 5 --------------------------- */
.sec5{
  font-family: 'Raleway', sans-serif;
  display: grid;
  min-height: 500px;
  place-items: center;
  background: #1c658c;
}
.sec5 h2{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #d8d2cb;
  padding-top: 3%;
  padding-bottom: 0%;
}
.sec5 h1{
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
  color: white;
  padding-bottom: 2%;
}

.wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  margin-bottom: 40px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #1c658c;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #1c658c;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #1c658c;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #1c658c;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}
@media (max-width: 1045px) {
  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
}

/* ---------------------- footer ---------------------------- */

.site-footer
{
  background-color:#1C658C;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.row p{
  text-align: justify;
  width: 90%;
  color: white !important;
  font-family: 'Raleway', sans-serif;
}
.site-footer hr
{
  border-top-color:white !important;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  font-family: 'Archivo Black', sans-serif;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:white;
}
.site-footer a:hover
{
  color:#eeeeee;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  font-family: 'Raleway', sans-serif;
  color:#eeeeee;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#398ab9;
  color: white !important;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}